.advantages {
    padding-bottom: 62px;

    @media (min-width: $mediaWidthLaptop) {
        width: 1110px;
        padding: 0;
    }
}
.advantages__cards {
    display: flex;
    flex-direction: column;

    @media (min-width: $mediaWidthTablet) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: center;
    }
}
.advantages__card {
    background: transparent;
    margin-bottom: 60px;
    
    &:last-child {
        margin-bottom: 50px;

        @media (min-width: $mediaWidthTablet) {
            margin-right: 0;
        }
    }

    @media (min-width: $mediaWidthTablet) {
        background: transparent;
        flex: 30%;
        margin-right: 30px;
        max-width: 255px;
    }
    @media (min-width: $mediaWidthLaptop) {
        flex: 25%;
        max-width: 255px;
    }
    
}
.advantages__image-block {
    margin: 0 auto;
    margin-bottom: 25px;
}
.advantages__image-block svg #hdr, #input, #rate, #wide {
    
    &:hover {
        fill: rgba(119, 185, 0, 0.25);
        stroke: #77B900!important;
    }
}
.advantages__image {
    width: 151px;
    height: 71px;
    margin: 0 auto;
}
.advantages__title {
   text-align: center;
   font-family: 'Play', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 36px;
   margin-top: 57px;
   margin-bottom: 20px;
   letter-spacing: 0.25px;
}
.advantages__subtitle {
    font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0.3px;
   text-align: center;
   margin-bottom: 60px;

   @media (min-width: $mediaWidthTablet) {
       display: block;
       max-width: 730px;
       margin: 0 auto;
       margin-bottom: 60px;
   }
   
}
.advantages__card-title {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #fff;
    

    &--green {
        color: #77B900;
        font-weight: 700;
        font-family: 'Play', sans-serif;
        font-size: 26px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.25px;

        @media (min-width: $mediaWidthTablet) {
            text-align: left;
        }
    }
}
.card-body {
     padding: 0;   
}
.advantages__text {
    font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0.3px;
   text-align: left;
   color: #E1E1E1;
}
.advantages__btn {
    width: 290px;
    height: 56px;
    background: #77B900;
    color: #fff;
    font-weight: 700;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25px;
    border-radius: 0;
    display: block;
    margin: 0 auto;

    @media (min-width: $mediaWidthTablet) {
        width: 192px;
        display: block;
        margin: 0 auto;
       
    }
    
    &:hover {
        background: #000000;
        border: 2px solid #77B900;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px #77B900;
        color: #fff;
    }
}